* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: #965415;
}

main {
    background-color: #CCAE93;
}

h1, p, ul, li {
    position: relative;
}

h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    padding: 30px 0;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-align: justify;
    padding: 2% 4% 0;
    line-height: 25px;;     
}

ul {
    padding: 4%;
}

ul li {
    font-size: 18px;
    display: inline-block;
    padding: 2%;
    margin: 1%;
    color: black;
    background-color: #6F96A1;
    border: 2px solid #09323D;
    text-align: center;
}

ul li p {
    font-weight: bold;
    font-size: 20px;
    padding: 0;
}