* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: #965415;
}

main {
    background-color: #CCAE93;
}

h1, p, ul, li {
    position: relative;
}

h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    padding: 30px 0;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-align: justify;
    padding: 2% 4% 0;
    line-height: 25px;;     
}

ul {
    padding: 4%;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: center;
}

.element, .attribute {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    margin: 10px 5px;
}

.element, .attribute {
    font-size: 18px;
    color: black;
    background-color: #6F96A1;
    border: 2px solid #09323D;
}

.element p {
    font-weight: bold;
    font-size: 20px;
    color: #721312;
}

.attribute p {
    font-weight: bold;
    font-size: 20px;
    color: #1C45A3;
}