header {
    font-family: 'Work Sans', sans-serif;
    font-size: 75px;
    text-align: center;
}

body {
    background-color: #590404;
}

table {
    margin: 10px;
    border: black;
}

table thead {
    font-family: 'PT Sans', sans-serif, Arial;
    font-weight: bold;
    font-size: 20px;
    color: white;
    background-color: black;
    height: 40px;
}

table td {
    border: 3px solid black;
    text-align: center;
    padding: 10px;
    font-family: 'PT Sans', sans-serif, Arial;
    font-weight: 14px;
    color: white;
}

.content {
    text-align: left;
}