h1 {
    font-family: 'Work Sans', sans-serif;
    color:burlywood;
    background-color: #590404;
    font-size: 40px;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

main {
    background-color: #cca881;
    padding-top: 10px;
}

table {
    margin: 10px;
    border: black;
}

table thead {
    font-family: 'PT Sans', sans-serif, Arial;
    font-weight: bold;
    font-size: 20px;
    color: white;
    background-color: black;
    height: 40px;
}

table td {
    border: 3px solid black;
    text-align: center;
    padding: 10px;
    font-family: 'PT Sans', sans-serif, Arial;
    font-weight: 14px;
    color: black;
}

.content {
    text-align: left;
}