* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header { 
    background-color: #0D1D45;
    display: flex;
    flex-direction: column;
}

main {
    background-color: #9DA9C7;
}

.nav-buttons {
    display: inline-flex;
    justify-content: flex-end;
    background-color: #0D1D45;
    position: fixed;
    z-index: 1;
    width: 100%;
    list-style-type: none;
}

.nav-buttons li {
    background-color: #3A5412;
    margin: 2% 2% 2% 0;
    padding: 1.2%;
}

.nav-buttons li a {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: #D4D4D4;
    /*cursor: pointer;*/
}


h1, h2, h3 {
    font-family: 'Ovo', serif;
    margin: 0 4%;
    padding: 3% 0 1% 0;
    width: 100%;
}

h1 {
    width: 50%;
    color: #D4D4D4;
    font-size: 60px;
    text-align: left;
    padding-top: 14%;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

p {
    position: relative;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 18px;
    line-height: 25px;
    margin: 0 4%;
}

footer {
    position: relative;
    color: #D4D4D4;
    background-color: #0D1D45;
    padding: 3% 0;
}

footer address {
    margin: 0 4%;
}
