* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header { 
    background-color: #0D1D45;
}

main {
    background-color: #919CB8;
}

.projects-button {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 16px;
    display: inline-block;
    width: 60px;
    padding: 10px;
    color: white;
    background-color: #4A1D13;
    border: 1px white solid;
}

h1, h2, h3 {
    font-family: 'Ovo', serif;
}

h1 {
    color: white;
    font-size: 50px;
    text-align: left;
    padding: 80px 15px 30px;
}

h2 {
    font-size: 34px;
    padding: 25px 15px 15px;
}

h3 {
    font-size: 25px;
    padding: 25px 15px 15px;
}

p {
    font-size: 16px;
    font-family: 'Quattrocento Sans', sans-serif;
}

footer {
    color: white;
    background-color: #0D1D45;
    padding: 40px 15px;
}
