* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header { 
    background-color: #0D1D45;
}

main {
    background-color: #919CB8;
}

.projects-button {
    position: relative;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 16px;
    display: inline-block;
    width: 20%;
    padding: 10px;
    color: white;
    background-color: #4A1D13;
    border: 1px white solid;
}

h1, h2, h3 {
    position: relative;
    font-family: 'Ovo', serif;
    margin: 0 4%;
    padding-bottom: 4%;
}

h1 {
    color: white;
    font-size: 60px;
    text-align: left;
    padding-top: 4%;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

p {
    position: relative;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 22px;
    margin: 0 4%;
    padding-bottom: 4%;
}

footer {
    position: relative;
    color: white;
    background-color: #0D1D45;
    margin: 0 4%;
    padding: 4% 0;
}
